@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #e5e5e5;
  font-family: 'JetBrains Mono', monospace;
  overflow-x: hidden;
}

/* Selection color */
::selection {
  background: #ef4444;
  color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
  border-left: 1px solid #333;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border: 2px solid #0a0a0a;
}
::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}
